.container {
    display: flex;
    flex-flow: wrap;
   
    width: auto;
    height: auto;
   
}

div {
    display: flex;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border-color: black  ;
    border: 2px;
}

button {
    
    
    display: flex;
}

body {
    background-color: aqua;
}